<!DOCTYPE html>
<html id="html-loaded" lang="en" class="no-scroll">
    <%- include('includes/head.ejs') %>
    <input id="trailID" type="hidden" value="<%- trailData.trailShortName.toLowerCase()  %>">
    <textarea id="jsonData" type="hidden" style="display: none;"><%- JSON.stringify(trailData) %></textarea>
    <body class="<%- trailData.trailShortName.toLowerCase()  %>"> 
        <%- include('includes/navigation.ejs') %>
        <div id="spotlightImage" class="spotlightImage" ></div>
        <main class="container-fluid p-0">
            <% if(trailData.trailShortName === 'PCT') { %>
                <%- include('includes/trail/pct/spotlight.ejs') %>
            <% }else if(trailData.trailShortName === 'CDT'){%>
                <%- include('includes/trail/cdt/spotlight.ejs') %>
            <% }else if(trailData.trailShortName === 'AT'){%>
                <%- include('includes/trail/at/spotlight.ejs') %>
            <% }%>
            <section id="about" class="row section section-about section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <section id="trail-info" class="row section section-trail section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <section id="instagram" class="row section section-instagram section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <section id="blog" class="row section section-blog section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <section id="fitbit" class="row section section-stats section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <section id="lighter-pack" class="row section section-stats section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <section id="map" class="row section section-mapshare section-animated">
                <!-- Section Lazy Loaded by observer -->
            </section>
            <footer>
                <div id="copyright" class="p-4" style="background-color: rgba(0, 0, 0, 0.05);"></div>
                <script>
                    // Set copyright
                    jQuery("#copyright")[0].innerHTML = "<i class='fa fa-copyright'></i> " + new Date().getFullYear() + " Copyright: Leslie Mercier";
                </script>
            </footer>
        </main>
    </body>
    <%- include('includes/end.ejs') %>
    <script>
        $(window).on('load',function(){
            var jsonTrailData = jQuery("#jsonData")[0].innerText;
            jQuery("#jsonData").remove();
            sessionStorage.setItem("trailData", jsonTrailData);
        });
    </script>
</html>